*.pyc
*.pyo
*.pyd
__pycache__/

.venv
env/
venv/
ENV/
env.bak/
venv.bak/

uploads/
uploads/*
static/
static/*
staticfiles/
staticfiles/*

*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

Dockerfile
docker-compose.yml

.vscode/
.idea/
*.sublime-project
*.sublime-workspace